# IGNORAMOS LOS CAMBIOS A LA CARPETA DE FACTURACION ELECTRONICA SUNAT #
# /sunat
/application/config/config.php
/application/config/database.php

/sunat/certificados
/sunat/comprobaantes
/sunat/log
/sunat/resumenes
/sunat/webphuyu
/sunat/xml