# IGNORAMOS LOS CAMBIOS A LA CARPETA DE FACTURACION ELECTRONICA SUNAT #
# /sunat
# Archivos de configuración sensibles
/application/config/config.php
/application/config/database.php



# O si quieres ser más específico:
/sunat/certificados/
/sunat/comprobantes/
/sunat/log/
/sunat/resumenes/
/sunat/webphuyu/
/sunat/xml/

# Otros archivos sensibles comunes
.env
*.key
*.pem
*.crt